<h1 class="my-4">{{title}}</h1>
<p>Ontario is a province in east-central Canada that borders the U.S. and the Great Lakes. It's home to Ottawa, Canada's capital, known for Parliament Hill's Victorian architecture and the National Gallery, featuring Canadian and indigenous art. Toronto, Ontario's capital, is home to the 553m-high CN Tower, with expansive views from its revolving restaurant, as well as High Park, site of a rare oak savannah habitat. </p>
<img src="/public/images/toronto.jpeg" alt="toronto" width="100" height="100">
