<h1>{{title}}</h1>
{{#each landmarks}}
    <div class="card col-4">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.location}}</p>
            <p class="card-text">{{this.description}}</p>
        </div>
    </div>
{{/each}}